@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

/* --------------------------------- */
/* profile wrapper */

.introduction-wrapper {
    margin-top: 95px;
    height: calc(100vh - 95px);
    position: relative;
}

.intro-left-section {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: start;
    padding: 5%;
    background-color: rgb(253, 198, 253);
    height: 50%;
}

.go-to-portfolio-button {
    border: 2px solid rgb(85, 1, 85);
    border-radius: 5px;
    background-color: rgb(179, 1, 179);
    padding: 15px 20px;
    color: white;
}

.intro-right-section {

    flex: 1;
    position: relative;
    height: 50%;
    background-color: rgb(253, 198, 253);
}

.intro-left-wrapper {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    z-index: 20;
}

.intro-right-section img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    position: absolute;
    bottom: 0;right:0;

}

#bigger-image-andre{
    width: 100%;
    position: absolute;
    bottom: 0;right:0;
    z-index: 30;
}

.intro-first-background {
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    
    background-color: rgb(194, 128, 194);
}


.intro-image-background {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    
    background-color: rgb(194, 128, 194);
}

.intro-description {
    display: none;
}

.intro-presentation {
    font-size: 30px;
    font-weight: 700;
}

.intro-name {
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-shadow: 2px 1px 6px rgba(24,10,6,0.93);
}

.i-title-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
}

.intro-titles-wrapper{
    display: flex;
    gap: 20px;
}



/* ---------------------------------- */
/* portfolio wrapper */

.background-portfolio {
    background-color: white;
    padding-bottom: 30px;
}

.wrapper-portfolio {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;

}

.wrapper-portfolio h3 {
    text-align: center;
    margin: 50px 0;
}

.grid-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.github-button {
    background-color: rgb(211, 211, 211);
    display: block;
    width: 9%;
    border-radius: 50%;
}

.github-button:hover {
    background-color: white;
}

.github-button img {
    width: 100%;
    margin-bottom: -4px;
}

.github-button:hover {
    cursor: pointer;
}

.single-project-portfolio, .single-project-portfolio img {
    width: 100%;
}

.single-project-portfolio {
    margin-bottom: 35px;
    display: block;
}

.single-project-portfolio > img {
    height: 300px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.21); 
box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.21);
}

.single-project-upper-text {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-project-text {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.single-project-text p {
    margin: 0 7%;
}

/* ------------------------------- */
/* Why I am a good asset, stars background */

.stars-background{
    background-image: url("../img/stars-background.jpg");
    padding-bottom: 50px;
}

.stars-background-wrapper {
    color: white !important;
}

.stars-background-wrapper h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 50px;
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: 2.2rem;
    color: white;
    text-shadow: -5px 5px 0px #e97ce9, -10px 10px 0px #e97ce9;
}

.stars-paragraph {
    color: white;
    text-shadow: 3px 2px 0 #7A7A7A;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.whole-quote-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stars-quote {
    display: inline-block;
    font-family: 'The Nautigal', cursive;
    font-size: 2.5rem;
    text-align: center;
}

.quote-person-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.stars-quote-name {
    order: 2;
}


/* ----------------------- */
/* Social media wrapper */

.social-media-wrapper {
    background-image: url("../img/social-media-background.jpg");
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-button {
    background-color: white;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 10px;
    display: block;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-button:hover {
    width: 60px;
    height: 60px;
    background-color: rgb(235, 235, 235);
}

.social-media-button img {
    width: 100%;
}

.social-media-buttons-wrapper {
    width: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* -------------------- */
/* FOOTER */

footer {
    background-color: rgb(228, 228, 228);
}

hr {
    border: 1px solid rgb(182, 182, 182);
}

.wrapper-bottom-link {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.wrapper-contact-information p {
    display: inline-block;
}

.wrapper-contact-information .contact-information {
    margin-left: 10px;
}

.wrapper-contact h3 {
    text-align: center;
}

.wrapper-contact {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height: 200px;
}

p.contact-information {
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.link-three {
    display: none;
}

.wrapper-footer-buttons a:hover {
    color: grey;
}

.wrapper-footer-buttons a {
    margin-left: 15px;
}

.footer-link-three {
    display: none;
}
