.mypath-whole-background {
    margin-top: 95px !important;
    min-height: calc(100vh - 95px);
    background-color: white;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mypath-title {
    text-align: center;
    font-size: 40px;
}

.mypath-wrapper-content {
    border-radius: 20px;
    overflow: hidden;
}

.header h3{
    padding: 20px 20px;
    
}

#first-header {
   background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(149,242,242,1) 0%, rgba(0,212,255,1) 100%); 
}

#second-header {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(91,154,246,1) 100%);
}

#third-header {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(91,154,246,1) 0%, rgba(0,103,252,1) 100%);
}

.header h3 {
    font-size: 30px;
    transition: all 0.7s ease-in-out;
}

.header h3:hover, .active-header {
    font-size: 40px !important;
    color: white;
    cursor: pointer;
}

.content {
    background-color: rgba(100, 100, 100, 0.329);
    display: none;
    padding: 15px 20px;
}

.content img {
    width: 100%;

    order: 3;
}

.content p {
    text-align: justify;
}

.active {
    display: block !important;
    
}